<h2>เกี่ยวกับเรา</h2>
<hr />
<h3> ประวัติความเป็นมา </h3>
<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <p>
      จากสภาวะปัญหาทางเศรษฐกิจ ประชาชนประสบปัญหาเกี่ยวกับค่าครองชีพที่สูงขึ้น 
      ผู้ที่มีรายได้น้อยได้รับความเดือดร้อนเพราะไม่สามารถจะหารายได้เพิ่มให้เพียงพอกับรายจ่ายที่เพิ่มขึ้น 
      และมักจะแก้ไขปัญหาด้วยการกู้ยืมเงินจากนายทุนโดยยอมเสีย ดอกเบี้ยในอัตราสูง จึงก่อให้เกิดหนี้สินผูกพัน 
      และก่อให้เกิดความเดือดร้อนแก่ตนเองและครอบครัว ภายหลังบุคคลที่ ประสบปัญหาความเดือดร้อนดังกล่าว 
      จึงร่วมกันแก้ไขปัญหาด้วยการรวมกลุ่มกัน จัดตั้งสหกรณ์ออมทรัพย์ขึ้นเพื่อบรรเทาปัญหาความเดือดร้อน 
      โดยยึดหลักการช่วยเหลือตนเองและช่วยเหลือซึ่งกันและกัน 
    </p>
    <p>
      Due to economic challenges, people are facing difficulties with the rising cost of living.
       Those with low incomes are particularly affected, as they cannot earn enough to cover the increasing expenses.
        To cope with this situation, many resort to borrowing money from private lenders, 
        often agreeing to pay high interest rates. This leads to mounting debt,
         which in turn causes further hardship for both individuals and their families. As a result,
          people experiencing such financial struggles came together to address these issues by forming a savings cooperative. 
          The cooperative was established to alleviate these problems, adhering to the principles of self-help and mutual assistance.
    </p>
    
  </div>
</div>
<br>

<h3>บุคลากร</h3>
<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5 card">Dev</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5 card">Dev</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5 ">Dev</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">Document</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<footer class="footer mt-auto py-3 border-top">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
      <div class="col mb-2">
        <a href="/" class="d-flex align-items-center mb-2 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="32" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <p class="text align-items-center">© 2024</p>
      </div>

      <div class="col mb-2">
      </div>

      <div class="col mb-2">
        <h6>Important work </h6><hr>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/home">Home</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/about">About</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Contact</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Email</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Address</a></li>
        </ul>
      </div>

      <div class="col mb-2">
        <h6>Wed link</h6><hr>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/profile">ข้อมูลส่วนตัว</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/savings.">เปิดบัญชี</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/deposit">ฝากเงิน</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/withdraw">กู้เงิน</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/interest">คำนวณดอกเบี้ย</a></li>
        </ul>
        
      </div>

      <div class="col mb-2">
        <h6>Contact</h6><hr>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Line</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Facebook</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Phone</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Email</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Address</a></li>
        </ul>
      </div>
    </div>
  </div>