
<br>
<br>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.src.ku.ac.th/th/tp/img/Logo.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.src.ku.ac.th/th/tp/img/banner1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<hr>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="card" routerLink="/profile">ดู/แก้ไขข้อมูลของฉัน</div>
    <div class="card" routerLink="/savings">ดูบัญชีเงินออม</div>
  </div>
  <div class="row">
    <div class="card" routerLink="/deposit">ฝากเงิน</div>
    <div class="card" routerLink="/withdraw">กู้เงิน</div>
  </div>
  <div class="row">
    <div class="card" routerLink="/interest">คำนวณดอกเบี้ย</div>
    <div class="card" routerLink="/report">รายงานสมุดบัญชีเงินฝาก</div>
  </div>
  
<br>
<br>
<br>
<br>
<h3>News Update</h3>
<div class="custom-card-container">
  <div class="custom-card">
    <img src="https://scontent.futp2-1.fna.fbcdn.net/v/t39.30808-6/465756896_1095512025909398_4115888616347231767_n.jpg?stp=cp6_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=LiOBUEd97BUQ7kNvgFIi__u&_nc_zt=23&_nc_ht=scontent.futp2-1.fna&_nc_gid=Amgj1XCvU5z4DsosHlwKeDs&oh=00_AYBgx011UAi_gQAtOVtML6enh74X_ZRDk7x3PYIZIBLerw&oe=672FC83D" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="custom-card-text">OpenHouse </p>
    </div>
  </div>
  <div class="custom-card">
    <img src="https://cdn.zipeventapp.com/images/events/32FCD584-ED9D-47BE-8006-F08BCF98758B/B37B70C3-57EE-4922-9512-EBB68999DD9B.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="custom-card-text">เกษตรศรีราชาแฟร์</p>
    </div>
  </div>
  <div class="custom-card">
    <img src="https://www.src.ku.ac.th/services/Banner/2567/1028_160315.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="custom-card-text">รับสมัครเกษตรศรีราชาแฟร์</p>
    </div>
  </div>
  <div class="custom-card">
    <img src="https://www.src.ku.ac.th/services/Banner/2567/0514_095735.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="custom-card-text">The 14th TSME International Conference on Mechanical Engineering 2024</p>
    </div>
  </div>
  <div class="custom-card">
    <img src="https://www.src.ku.ac.th/services/Banner/2567/0418_154224.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="custom-card-text">อัตราการเก็บค่าสาธารณูปโภค</p>
    </div>
  </div>
</div>

  <footer class="footer mt-auto py-3 border-top">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
        <div class="col mb-2">
          <a href="/" class="d-flex align-items-center mb-2 link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="32" height="24">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <p class="text align-items-center">© 2024</p>
        </div>
  
        <div class="col mb-2">
        </div>
  
        <div class="col mb-2">
          <h6>Important work </h6><hr>
          <ul class="nav flex-column">
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/home">Home</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/about">About</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Contact</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Email</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Address</a></li>
          </ul>
        </div>
  
        <div class="col mb-2">
          <h6>Wed link</h6><hr>
          <ul class="nav flex-column">
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/profile">ข้อมูลส่วนตัว</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/savings.">เปิดบัญชี</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/deposit">ฝากเงิน</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/withdraw">กู้เงิน</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/interest">คำนวณดอกเบี้ย</a></li>
          </ul>
          
        </div>
  
        <div class="col mb-2">
          <h6>Contact</h6><hr>
          <ul class="nav flex-column">
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Line</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Facebook</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Phone</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Email</a></li>
            <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Address</a></li>
          </ul>
        </div>
      </div>
    </div>