<h2>ติดต่อเรา</h2>
<hr />

<div class="container mt-4">
    <div class="row justify-content-center"> <!-- ใช้ class row สำหรับจัดเรียง -->
      <div class="col-3">
        <div class="card text-center p-4">
          <div class="icon-bg">
            <i class="bi bi-telephone-fill icon"></i>
          </div>
          <h5 class="card-title">โทรศัพท์</h5>
          <p class="card-text">02-0xxx-xxx</p>
        </div>
      </div>
      
      <div class="col-3">
        <div class="card text-center p-4">
          <div class="icon-bg">
            <i class="bi bi-envelope icon"></i>
          </div>
          <h5 class="card-title">อีเมล</h5>
          <p class="card-text">email.com</p>
        </div>
      </div>
  
      <div class="col-3">
        <div class="card text-center p-4" [routerLink]="['/complaint']">
            <div class="icon-bg">
                <i class="bi bi-chat-dots icon"></i>
            </div>
            <h5 class="card-title">ร้องเรียนทุกข์</h5>
            <p class="card-text">ร้องเรียนต่างๆ</p>
        </div>
    </div>
    
      <div class="col-3">
        <div class="card text-center p-4">
          <div class="icon-bg">
            <i class="bi bi-line icon"></i>
          </div>
          <h5 class="card-title">Line</h5>
          <p class="card-text">add</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center"> <!-- ใช้ class row สำหรับจัดเรียง -->
    <div class="col-3">
      <div class="card text-center p-4">
        <div class="icon-bg">
          <i class="bi bi-buildings-fill icon"></i>
        </div>
        <h5 class="card-title">ที่อยู่ติดต่อ</h5>
        <p class="card-text">199 หมู่ 6 ต.ทุ่งสุขลา อ.ศรีราชา จชลบุรี 20230</p>
      </div>
    </div>
    
    <div class="col-3">
      <div class="card text-center p-4">
        <div class="icon-bg">
          <i class="bi bi-phone icon"></i>
        </div>
        <h5 class="card-title">โทรสาร</h5>
        <p class="card-text">02-12x-xxxx</p>
      </div>
    </div>

    <div class="col-3">
      <div class="card text-center p-4">
        <div class="icon-bg">
          <i class="bi bi-facebook icon"></i>
        </div>
        <h5 class="card-title">facebook</h5>
        <p class="card-text">สหกรณ์ ออมทรัพย์หมู่บ้าน</p>
      </div>
    </div>

    <div class="col-3">
      <div class="card text-center p-4" [routerLink]="['/about']"> <!-- เปลี่ยน '/info' เป็นเส้นทางที่คุณต้องการ -->
          <div class="icon-bg">
              <i class="bi bi-info-circle icon"></i>
          </div>
          <h5 class="card-title">ข้อมูล</h5>
          <p class="card-text">รายละเอียดเพิ่มเติม</p>
      </div>
  </div>
  



<br>
<hr>
<div class="row">
  <div class="col-6">
      <h4>แผนที่</h4>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15542.626598105122!2d100.9191991!3d13.1209244!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102b67ef835f265%3A0x963c6129282e5cb!2sKasetsart%20University%20-%20Sriracha%20Campus!5e0!3m2!1sen!2sth!4v1728973025264!5m2!1sen!2sth" width="1300" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<footer class="footer mt-auto py-3 border-top">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
      <div class="col mb-2">
        <a href="/" class="d-flex align-items-center mb-2 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="32" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <p class="text align-items-center">© 2024</p>
      </div>

      <div class="col mb-2">
      </div>

      <div class="col mb-2">
        <h6>Important work </h6><hr>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/home">Home</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/about">About</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Contact</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Email</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Address</a></li>
        </ul>
      </div>

      <div class="col mb-2">
        <h6>Wed link</h6><hr>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/profile">ข้อมูลส่วนตัว</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/savings.">เปิดบัญชี</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/deposit">ฝากเงิน</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/withdraw">กู้เงิน</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/interest">คำนวณดอกเบี้ย</a></li>
        </ul>
        
      </div>

      <div class="col mb-2">
        <h6>Contact</h6><hr>
        <ul class="nav flex-column">
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Line</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Facebook</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Phone</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Email</a></li>
          <li class="nav-item mb-1"><a class="nav-link line-link" routerLink="/contact">Address</a></li>
        </ul>
      </div>
    </div>
  </div>