.line-link {
    color: gray; /* สีของลิงก์ */
  }
  
  .line-link:hover {
    color: black; /* สีเมื่อวางเมาส์ */
  }

  .card {/* ข้อความในการ์ด */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nav.flex-column .nav-item {
    margin-bottom: 0.5rem; /* ลดระยะห่างด้านล่าง */
    padding: 0;
  }
  
  .nav-link {
    line-height: 0.5; /* ปรับระยะห่างระหว่างบรรทัด */
  }