<div class="container">
    <div class="row">
      <div class="card" routerLink="/profile">ดู/แก้ไขข้อมูลของฉัน</div>
      <div class="card" routerLink="/savings">เปิด/ปิดบัญชีเงินออม</div>
    </div>
    <div class="row">
      <div class="card" routerLink="/deposit">ฝากเงิน</div>
      <div class="card" routerLink="/withdraw">ถอนเงิน</div>
    </div>
    <div class="row">
      <div class="card" routerLink="/interest">คำนวณดอกเบี้ย</div>
      <div class="card" routerLink="/report">รายงานสมุดบัญชีเงินฝาก</div>
    </div>
  </div>
  